<h2>This is the main view</h2>

<!-- <span data-bind="shit" data-hideif->BUT, BUT</span> -->
<nav showif="navController.articles" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li data-foreach-lesson="navController.lessons" data-addclass-active="lesson.active" data-bind-article="article">
        <a data-bind="lesson.name" data-route="routes.viewLesson[lesson.id]"></a>
      </li>
    </ul>
  </div>
</nav>
<article id="article" data-yield="article"></article>
<!-- <div data-view="lesson">
</div>
 -->
